@model IEnumerable<LibroDiarioMayorWebApp.Models.Catalogo>

@{
    ViewData["Title"] = "Catalogo";
}

<h1>Catalogo de Cuentas</h1>

<p>
    <a asp-action="Create">Crear Nueva Cuenta</a>
</p>
<table class="table" id="tabla">
    <thead>
        <tr>
            <th>
                Numero de Cuenta:
            </th>
            <th>
                Nombre de Cuenta:
            </th>
            <th>
                Tipo de cuenta:
            </th>
            <th>
                Se incluye en:
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroCuenta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCuenta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoCuenta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IncluidaEn)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.NumeroCuenta">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.NumeroCuenta">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.NumeroCuenta">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>

