@using System.Security.Claims;
@model IEnumerable<LibroDiarioMayorWebApp.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@if (User.Identity!.IsAuthenticated)
{
    <p>
        @User.Claims.Where(c => c.Type == ClaimTypes.Name).Select(c => c.Value).SingleOrDefault()
    </p>
}
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UltInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clave)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UltInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Clave)
            </td>
                
                @if (item.TipoUsuario != "Admin")
                {
                    <td>

                        <a asp-action="Edit" asp-route-id="@item.IdUsuario">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.IdUsuario">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.IdUsuario">Delete</a>

                    </td>
                }
                else
                {
                     <td>
                        <a asp-action="Details" asp-route-id="@item.IdUsuario">Details</a>
                    </td>
                }
            </tr>
}
    </tbody>
</table>
