@using System.Security.Claims;
@model IEnumerable<LibroDiarioMayorWebApp.Models.Usuario>

@{
    ViewData["Title"] = "Usuarios";
}

<h1>Usuarios Registrados</h1>

<p>
    <a asp-action="Create">Crear Nuevo Usuario</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nombre de Usuario:
            </th>
            <th>
                Tipo de Usuario:
            </th>
            <th>
                Teléfono:
            </th>
            <th>
                Correo Electrónico:
            </th>
            <th>
                Dirección:
            </th>
            <th>
                Ultimo Inicio de Sesión:
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UltInicio)
            </td>
                
                @if (item.TipoUsuario != "Administrador")
                {
                    <td>

                        <a asp-action="Edit" asp-route-id="@item.IdUsuario">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.IdUsuario">Detalles</a> |
                        <a asp-action="Delete" asp-route-id="@item.IdUsuario">Eliminar</a>

                    </td>
                }
                else
                {
                     <td>
                        <a asp-action="Details" asp-route-id="@item.IdUsuario">Detalles</a>
                    </td>
                }
            </tr>
}
    </tbody>
</table>
